# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/Test

# next.js
/.next/
/out/
/uploads

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.pnpm-store

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# md files
*.md
*.py
*.txt

public/uploads
public/uploads*
public/uploads/*